eval "$(lorri direnv)"
# If you prefer not to set up Lorri,
# Replace the above line with this one:
# use flake

export db_socket_path=$(echo $(pwd)/devsupport/db_sockets)

export AUTH_KEYPAIR="$(pwd)/devsupport/backend.keypair"
export DATABASE_URL="postgres:///wagthepig?user=postgres&host=$db_socket_path&sslmode=disable"
export SQLX_OFFLINE=yes
export FRONTEND_PATH="$(pwd)/frontend/dist"
